.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.Tilt {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1FA2FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 15px;
}

.Tilt img {
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .nav {
    display: flex; 
    flex-direction: column;
  }
}